@use './scss/variables.scss';

* {
  margin: 0;
  padding: 0;
  user-select: none;
  color: $text-light;
  box-sizing: border-box;
}
body{
  background: #141414;
  font-family: $font-secondary;
}
iframe {
  display: none;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: $font-primary;
}

.container{
  max-width: 1140px;
}