@use '../../../scss/variables.scss';
@use '../../../scss/mixins.scss';

.campo_form{
  .content{
    @include flex($direction: row, $justify: space-between, $align: center);
    label{
      font-weight: bold;
      &.require::after{
        content: '*';
        color: $primary;
        padding: 0px 3px;
      }
    }
    input {
      width: 65%;
      border: none;
      outline: none;
      color: $black;
      padding: 7px 7px;
      border-radius: 3px;
    }  
  }
  .error{
    color: $red;
    display: block;
    margin-top: 5px;
    font-size: 13px;
    text-align: right;
  }
  &.image{
    grid-row: 2/4;
  }
  &.description{
    grid-row: 3/4;
    grid-column: 1/2;
  }
}
@media screen and (max-width: 768px){
  .campo_form {
    padding: 5px 0px;
  }
}
