@use '../../../scss/variables.scss';
@use '../../../scss/mixins.scss';
@use '../../../scss/extends.scss';

.search{
  position: relative;
  #inputSearch{
    border: none;
    outline: none;
    color: $black;
    padding: 7px 15px;
    border-radius: 6px;
  }
  #history{
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: $grayDark;
    border-radius: 0px 0px 5px 5px;
    &.hide{
      animation: hide .3s ease-in-out forwards;
      @keyframes hide {
        to { 
          height: 0px;
          overflow: hidden;
        }
      }
    }
    #item{
      gap: 10px;
      padding: 10px;
      cursor: pointer;
      font-size: 13px;
      @include flex($direction: row, $justify: flex-start, $align: center);
      &:hover{
        background: $gray;
      }
    }
  }
}
@media screen and (max-width: 768px){
  .search.isNavbar{
    display: none;
  }
}