@use '../../../scss/variables.scss';
@use '../../../scss/mixins.scss';

#gameLoader{
    inset: 0;
    gap: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    @include flex($direction: column, $justify: center, $align: center);
    h2{
        font-size: 35px;
    }
}