@use '../../../scss/variables.scss';
@use '../../../scss/mixins.scss';

#modalImage{
  inset: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  position: fixed;
  background: $blackOpacity;
  display: grid;
  place-items: center;
  &.hidden{
    display: none;
  }
  #boxImage{
    height: 90%;
    max-width: 90%;   
    overflow: hidden;
    position: relative;
    border-radius: 10px;     
    @include flex($direction: row, $justify: space-between, $align: center);
    .boxIcon{
      opacity: 0;
      width: 45%;
      height: 100%;
      display: flex;
      cursor: pointer;
      padding: 0px 20px;
      position: absolute;
      align-items: center;
      transition: opacity .3s ease;
      &:hover{
        opacity: 1;
      }
      &.left{
        left: 0;
        &:active{
          background: linear-gradient(to right, $blackOpacity, transparent);
        }
      }
      &.right{
        right: 0;
        justify-content: flex-end;
        &:active{
          background: linear-gradient(to right, transparent, $blackOpacity);
        }
      }
    }
    #image{
      height: 100%;
    }
  }
}
@media screen and (max-width:1190px) {
  #modalImage #boxImage{
    width: 90%;
    height: max-content;
    #image{
      width: 100%;
      object-fit: cover;
    }
  }
}
